@keyframes dice-used {
  0% {
    fill: $color-red;
  }

  50% {
    transform: scale(1.08);
    fill: $color-rasp-light;
  }

  100% {
    transform: scale(1);
    fill: $color-red;
  }
}

.dice-used {
  animation-name: dice-used;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
