// Raspberries
$color-rasp-dark: #950740;
$color-rasp-light: #df4482;

// Greys
$color-grey-dark: rgb(80, 80, 80);
$color-grey: rgb(160, 160, 160);
$color-grey-light: rgb(215, 215, 215);

// White
$color-white: rgb(245, 245, 245);

// Red
$color-red: #c3073f;

// Blacks
$color-black-dark: rgb(15, 15, 15);
$color-black-light: rgb(40, 40, 40);

// Greens
$color-green-light: rgb(116, 212, 87);
$color-green: rgb(52, 155, 91);

:root {
  --x-spins: 1;
  --y-spins: 1;
}
